[submodule "WEEK11/MyTiq-plateforme-de-billetterie-evenementielle"]
	path = WEEK11/MyTiq-plateforme-de-billetterie-evenementielle
	url = https://github.com/Chaimaa101/MyTiq-plateforme-de-billetterie-evenementielle
